#screen {
    margin-top: 72px;
}

.logo-size {
    width: 63px;
    margin-right: 30px;
}

.coin-container {
    margin-bottom: 16px;
}

.coin {
    padding: 16px;
}

.coin-mrg{
margin-bottom: 15px;
}

.replace-coin-container{
    display: flex;
    margin-bottom: 16px;
}

.replace-coin-id{
    flex: 1;
}